.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
}

.filters button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

.filters h3 {
    font-weight: 600;
    color: #484848;
    margin-left: 10px;
    margin-bottom: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0;
    color: #484848;
}

.filters h2 {
    font-size: 16px;
}

.filters .popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: none;
    padding: 10px 0px 10px 25px;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters button:hover {
    opacity: 90%;
}

.filters .popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: none;
    width: 100%;
    padding: 10px 0px 10px 25px;
    z-index: 1;
}

.popover li, ul {
    margin: 10px, 50px;
}

.filters .locations:hover .popover, .filters .amenities:hover .popover {
    display: block;
}
